.CommentCardWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    margin-bottom: 2%;
    padding-bottom: 5%;
    padding-left:2%;
    padding-top:1%;
  
}