

.Home-sidebar{
    display: flex;
    flex-direction: row;
    grid-area: sidebar;
    background-color: azure;
    justify-self: center;
    height: 90vh;
    min-width: 200pt;
    max-width: 300pt;
}

.Home-body{
    grid-area: body;
    height:90vh;
    background-color: aqua;
}





.Home-container {
    display: grid;
    height: 100vh;
  
    grid-template-columns: 30% 25% 25% 20% ;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
       
        "body body body sidebar"
        "footer footer footer footer"
}
