.Navbar{
    height: 18vh;
    display: flex;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* border: 1pt solid black; */
    justify-content: center;
   

   
  }
  /* .Links {
    font: 400;
    font-size: larger;
  } */
  
  .Hamburger {
    justify-self: right;
    align-self: right;
    margin-top: 10%;

    width: 20vw;
    
  }
  /* .Route-Links{
    justify-self: start;
   
  } */

.Navbar > img{
  height: 70px;
  width: 7%;
  margin-top: 3%;
  margin-left:20%


 

}