.Navbar{
    margin-top: 2%;
    height: 18vh;
    display: flex;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    justify-content: flex-start;
   
  }
  /* .Links {
    font: 400;
    font-size: larger;
  } */
  
  .Hamburger {
    justify-self: right;
    align-self: right;

    width: 20vw;
    
  }
  /* .Route-Links{
    justify-self: start;
   
  } */

.Navbar > img{
  /* margin-left: 50%; */
  height: 60pt;
  width: 60pt;
  justify-self: center;
  align-self: center;
  margin-top: 0;
 /* margin-bottom: 5%; */

}