
.Profile-container{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    
}

.Profile-header{
    background-color: aqua;
    height: 10vh;
    
}


.Profile-body{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 90vh;

}
.ProseMirror {
    background-color: white;
}



.Profile-body-section{
    display:grid;
    align-self: center;
    justify-self: center;
    min-height: 90%;
    width: 60vw;
    min-width: 500pt;
    max-width: 2000px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.tiptap{
    width: 100%;
    height: 100%;
   
    
}
.Footer-text{
    color: black;
    align-self: center;
    justify-self: center;
}