.ProseMirror {
    display: flex;
    background-color: whtie;
    flex-direction: column;
    align-content: center;
    padding-left: 5%;
    color: black;
    /* border: 1pt solid black; */
    width: 95%;
    justify-self: center;
    overflow: hidden;
    align-self: center;
    height: 80vh;
   
  
    ul,
    ol {
      padding: 0 1rem;
    }
  
    blockquote {
      padding-left: 1rem;
   
    }
  
    hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
    }

  }

  button{
    height: 2rem;
    width: 5rem;
    align-self: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: white;
    margin-right: 2%;
    border-radius: 30%;
  }
  img {
    display: block;
    
    width: auto;
    height: 20vh;
    max-width: 100%;

  }


  .React-icons{
    font-size:1rem;  
  }

  .TipTapMenuWrap{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  
  }

  #TitleWrapper{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 5%;
    gap: 3%;
    align-items: center;
  }
  #TitleInput{
    border: 0.5pt solid grey;
    
    width: 60%;
    height: 2rem;
    
    
  }
  #h3Title{
    margin-left: 3rem;
  }

  #TipTapPublish{
    border-radius: 0%;
    
  }

