.ProseMirror {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 5%;
    color: black;
    border: 1pt solid black;
    width: 95%;
    justify-self: center;
    align-self: center;
    height: 80vh;
    > * + * {
      margin-top: 0.75em;
      
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
      
    }
  
    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }
  
    pre {
      background: #0D0D0D;
      color: black;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    
    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0D0D0D, 0.1);
    }
  
    hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
    }
    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }
  }

  button{
    height: 2rem;
    width: 5rem;
    align-self: centerß;
  }
  img {
    display: block;
    
    width: 30vw;
    height: 20vh;
    max-width: 100%;

  }


  .React-icons{
    font-size:1rem;  
  }