
body{
   background-color: black;

}

.Login-container{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    
    
    
}

.form{
    display: flex;
    flex-direction: column;
}